{
    "*.md": [
        "pnpm markdownlint --ignore node_modules --disable=MD013",
        "pnpm markdown-link-check --ignore node_modules -c .markdown-link-check.json"
    ],
    "*.css": [
        "astro format",
        "pnpm stylelint"
    ],
    "*.astro": [
        "astro format",
        "pnpm lint",
        "pnpm build"
    ]
}
