{
    "*.md": [
        "pnpm md:lint",
        "pnpm md:check"
    ],
    "*.astro": [
        "astro format",
        "pnpm lint"
    ],
    "*.css": [
        "astro format",
        "pnpm stylelint src/**/*.css"
    ]
}
