---
layout: default
title: Zazen Code
---

<div id="home">
  <ul class="posts">
      {% for post in site.posts %}
      {% if post.next %}
          {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
          {% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
      {% endif %}
      {% if forloop.first or year != nyear %}
      {% unless forloop.first %}
          </ul>
      </li>
      {% endunless %}
      <li>
          <h2 class="year-title">
              <img class="year-icon" src="/images/layout.png" alt="Year Icon" />
              {{ post.date | date: '%Y' }}
          </h2>
          <hr />
          <ul class="posts-by-year">
      {% endif %}
      <li>
          <span class="post-date">{{ post.date | date: '%d %b' }}</span>
          <img class="arrow-icon" src="/images/rightarrow.png" alt="Right Arrow" /> 
          <a href="{{ post.url }}">{{ post.title }}</a>
      </li>
  
      {% if forloop.last %}
          </ul>
      </li>
      {% endif %}
      {% endfor %}
  </ul>
</div>

<script type="text/javascript">
  $(document).ready(function() {
      $('#home').hide().fadeIn('slow');
  });
</script>
