---
interface Props {
  effect?: 'lift' | 'scale' | 'glow';
  className?: string;
  [key: string]: unknown;
}

const {
  effect = 'lift',
  className = '',
  ...rest
} = Astro.props;

const hoverClass = `zen-hover-${effect}`;
---

<div
  class={`${hoverClass} ${className}`}
  {...rest}
>
  <slot />
</div>