---
interface Props {
  className?: string;
  [key: string]: any;
}

const {
  className = '',
  ...rest
} = Astro.props;
---

<div
  class={`zen-stagger ${className}`}
  {...rest}
>
  <slot />
</div>