.zazen-world__tile-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 64px;
    height: 90px;
    text-align: center;
    background-position: bottom;
    background-repeat: no-repeat;
}
