@import url('katex/dist/katex.min.css');

:root {
  /* Color palette */
  --primary-color: #9d4261;
  --primary-bg-color: #F5EEE6;
  --link-color: #9d4261;
  --link-hover-color: #B47B84;
  --link-color-secondary: #B47B84;
  --link-color-secondary-hover: #B47B84;
  --hr-color: #B47B84;
  --text-secondary: #777;
  --banner-bg-color: #ECECEC;
  --footer-text-color: #777;
  --footer-border-color: #CCC;
  --highlight-bg-color: #000;

  /* Font sizing */
  --font-size-small: 0.8em;
  --font-size-normal: 0.9em;
  --font-size-large: 1em;

  /* Spacing */
  --space-xs: 1px;
  --space-sm: 4px;
  --space-md: 10px;
  --space-lg: 20px;

  /* Radius */
  --radius-md: 6px;
}

/* Global Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Comic Neue';
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/comic-neue.woff2") format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Comic Neue';
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/comic-neue-bold.woff2") format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

html,
body {
  height: 100%;
}

body {
  background-color: var(--primary-bg-color);
  font-family: 'Comic Neue', sans-serif;
  font-size: var(--font-size-normal);
  text-align: center;
  background-image: url("/images/background.gif");
}

img {
  max-width: 100%;
  height: auto;
  border-radius: var(--radius-md);
}

h1,
h2,
h3 {
  font-size: var(--font-size-large);
  font-weight: 700;
}

h1 {
  margin: 0 0 var(--space-md) 0;
}

p {
  margin: 0.8em 0;
}

a {
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  color: var(--link-hover-color);
  text-decoration: none;
}

hr {
  width: 100%;
  opacity: 0.25;
  padding: 0;
  color: var(--hr-color);
  text-align: center;
  border: var(--space-xs) solid;
  margin: var(--space-lg) 0;
}

.pre-content {
  min-height: 300px;
}

h2.year-title::after {
  content: "";
  display: block;
  height: 0.1rem;
  width: 100%;
  background: var(--hr-color);
  margin: 1em 0;
  opacity: 0.25;
}

.posts-by-year li {
  margin: var(--space-md);
}

.posts {
  margin-bottom: 0;
}

.post h1,
.post h2,
.post h3 {
  margin: var(--space-lg) 0 var(--space-md) 0;
}

.post li {
  padding: var(--space-xs) var(--space-lg);
}

.post blockquote li {
  padding: var(--space-md) var(--space-lg);
}

.post blockquote li::before {
  content: "- ";
  color: var(--primary-color);
  font-weight: bold;
}

.eof {
  color: var(--text-secondary);
  margin-top: var(--space-lg);
}

.site {
  text-align: left;
  width: 46em;
  margin: 1.5em auto 2em;
  line-height: 1.5em;
}

.header {
  margin-bottom: var(--space-md);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.header .banner {
  width: 100%;
  margin: 12px var(--space-md) 8px var(--space-md);
  padding: var(--space-xs);
  border-width: var(--space-xs);
  border-style: solid;
  border-color: var(--primary-bg-color);
  text-align: center;
  font-size: var(--space-md);
  background-color: var(--banner-bg-color);
  font-weight: bold;
  box-shadow: 0 0 var(--space-sm) rgb(0 0 0 / 20%);
  border-radius: var(--radius-md);
  opacity: 0.9;
}

.header .banner .img {
  background: transparent url("/images/zazen.webp") no-repeat center center / cover;
  height: 120px;
  margin: auto;
}

.header a {
  font-weight: bold;
  text-decoration: none;
}

.title {
  display: inline-block;
  margin: var(--space-sm) 0;
  color: var(--primary-color);
}

.header a.extra {
  color: var(--link-color-secondary);
  margin-left: var(--font-size-normal);
}

.header a.extra:hover {
  color: var(--link-color-secondary-hover);
}

.header .extra {
  position: relative;
  overflow: hidden;
}

.header .extra::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1.4px;
  bottom: -3px;
  left: 0;
  background-color: var(--link-color-secondary);
  transform-origin: bottom right;
  transition: transform 0.25s ease-in-out;
}

.header .extra:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.header .active::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(1);
  height: 1.4px;
  bottom: -3px;
  left: 0;
  background-color: var(--link-color-secondary);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.meta {
  color: var(--text-secondary);
}

.pre-content .meta {
  text-align: right;
}

.footer {
  color: var(--footer-text-color);
  border-top: 2px solid var(--footer-border-color);
  margin-top: var(--font-size-normal);
}

.footer .profile {
  background: transparent url("/images/developer.webp") no-repeat;
  background-size: contain;
  width: 160px;
  height: 140px;
}

code {
  border-radius: var(--radius-md);
  padding: .2em .4em;
  color: white;
  background-color: #333;
  font-size: var(--font-size-small) !important;
}

pre {
  padding: 1.5em;
  border-radius: var(--radius-md);
}

pre>code {
  all: unset;
}

blockquote {
  border-left: 3px solid var(--primary-color);
  padding: 0 0 0 var(--space-lg);
  margin: 0;
}

@keyframes fade-in-up-bounce {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }

  40% {
    transform: translateY(-6px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in-up-bounce {
  animation: fade-in-up-bounce 0.8s ease-in-out forwards;
}

@keyframes slide-down {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.slide-down {
  opacity: 0;
  transform: translateY(-100%);
  animation: slide-down 0.5s forwards;
}

@media screen and (width <=768px) {
  body {
    margin: var(--space-md);
  }

  .site {
    width: auto;
    padding: 0 var(--space-md);
  }

  .header .banner .img {
    width: auto;
  }

  .pre-content .meta {
    text-align: left;
  }
}