---
import SocialNetworks from "../components/SocialNetworks.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="👋 About" description="About page">
  <blockquote>
    Hello, I'm <b>heristop</b>! I'm a Chapter Lead & Web Development Expert
    Passionate about crafting high-performance web applications, I lead teams of
    talented developers. My expertise spans JavaScript, TypeScript, Vue, React,
    Node.js, PHP, and Symfony. Constantly pursuing innovation, I strive to blend
    technical leadership with cutting-edge knowledge to design state-of-the-art
    web solutions.
  </blockquote>

  <section class="text-center my-8">
    <ul
      class="flex flex-row justify-center items-center gap-x-4 font-bold text-sm"
    >
      <li class="flex flex-col">
        💼 Chapter Lead <span class="text-xs">@Carrefour CSI</span>
      </li>
      <li>🎂 4 November</li>
      <li>🔗 <a href="https://heristop.github.io/about">Permalink</a></li>
    </ul>
  </section>

  <h2 class="my-4">🔗 Social Networks</h2>

  <SocialNetworks filter="socialnetwork" />
</Layout>
