---
import SocialNetworks from "../components/SocialNetworks.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="About" description="About page">
  <blockquote>
    Hello, I'm <b>heristop</b>! <span class="about-info__wave">👋</span> I'm a Chapter Lead &
    Web Development Expert Passionate about crafting high-performance web applications,
    I lead teams of talented developers. My expertise spans JavaScript, TypeScript,
    Vue, React, Node.js, PHP, and Symfony. Constantly pursuing innovation, I strive
    to blend technical leadership with cutting-edge knowledge to design state-of-the-art
    web solutions.
  </blockquote>

  <section class="about-info">
    <ul class="about-info__list">
      <li class="about-info__item about-info__item--stacked">
        💼 Chapter Lead <span class="about-info__subtitle">@Carrefour SI</span>
      </li>
      <li class="about-info__item">🎂 4 November</li>
      <li class="about-info__item">📌 Paris, France</li>
      <li class="about-info__item">🔗&nbsp;<a href="https://heristop.github.io/about">Permalink</a></li>
    </ul>
  </section>

  <h2>🔗 Social Networks</h2>

  <SocialNetworks filter="socialnetwork" />
</Layout>

<style>
  .about-info__wave {
    display: inline-block;
    font-size: 1.5em;
    animation: wave 1.8s ease-in-out 1;
  }

  @keyframes wave {
    0%,
    100% {
      transform: rotate(0deg);
    }
    20%,
    60% {
      transform: rotate(-25deg);
    }
    40%,
    80% {
      transform: rotate(25deg);
    }
  }
</style>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const waveEmoji = document.querySelector(".about-info__wave") as HTMLElement;
    if (waveEmoji) {
      waveEmoji.addEventListener("mouseenter", () => {
        waveEmoji.style.animation = "none";
        setTimeout(() => {
          waveEmoji.style.animation = "wave 1.8s ease-in-out 3";
        }, 10);
      });
    }
  });
</script>
