---
import Layout from "../layouts/Layout.astro";
import { getCollection } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";
import Icon from "../components/Icon.astro";

export type Post = {
  data: {
    pubDate?: Date;
    title: string;
    slug: string;
  };
};

const posts = (await getCollection("blog")).sort(
  (a, b) => (b.data.pubDate?.valueOf() ?? 0) - (a.data.pubDate?.valueOf() ?? 0)
);

function groupPostsByYear(posts: any) {
  return posts.reduce(
    (
      acc: { [x: string]: any[] },
      post: { data: { pubDate?: { getFullYear: () => any } } }
    ) => {
      const year = post.data.pubDate?.getFullYear();

      if (!acc[year]) {
        acc[year] = [] as Post[];
      }

      acc[year].push(post);
      return acc;
    },
    {}
  );
}

const postsByYear = groupPostsByYear(posts);
const sortedYears = Object.keys(postsByYear).sort(
  (a, b) => Number(b) - Number(a)
);

const delay = 10;
---

<Layout title="All Posts" description="Blog">
  <blockquote class="blog-archive__subscribe">
    <Icon name="rss" size={32} class="blog-archive__subscribe-icon" />
    
    <span>Subscribe to <a href="/rss.xml">RSS</a>.</span>
  </blockquote>

  <ul class="blog-archive">
    {
      sortedYears.map((year) => (
        <li>
          <h2 class="blog-archive__year-heading">
            <Icon name="archive" size={20} class="blog-archive__year-icon" />

            {year}
          </h2>

          <ul class="post-list blog-archive__post-list">
            {postsByYear[year].map(
              (
                post: {
                  url: string;
                  data: { pubDate?: Date; title: string };
                  slug: string;
                },
                index: number
              ) => (
                <li
                  class="post-list__item blog-archive__post-item blog-archive__post-item--animated"
                  style={`animation-delay: ${delay * index}ms`}
                >
                  {post.data.pubDate && (
                    <span class="post-list__date blog-archive__post-date u-text-muted">
                      <FormattedDate date={post.data.pubDate} />
                    </span>
                  )}

                  <a href={`/blog/${post.slug}/`}>{post.data.title}</a>
                </li>
              )
            )}
          </ul>
        </li>
      ))
    }
  </ul>
</Layout>
