---
import SocialNetworks from "../components/SocialNetworks.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Projects" description="Projects page">
  <blockquote>Welcome to my Digital Playground.</blockquote>

  <h2 class="projects-page__heading">🔗 Links</h2>

  <SocialNetworks filter="project" />
</Layout>
