---
import SocialNetworks from "../components/SocialNetworks.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="📚 Projects" description="Projects page">
  <blockquote>Here are some of the projects I've worked on.</blockquote>

  <h2 class="mt-6 mb-4">🔗 Links</h2>

  <SocialNetworks filter="project" />
</Layout>
