---
import { SITE_AUTHOR, SITE_TITLE, AUTHOR_ROLE, LINKFOLIO_URL } from "../consts";
import Icon from "./Icon.astro";
---

<div class="site-footer__eof">--eof--</div>

<footer class="site-footer">
  <a title="?" href="/extra" class="site-footer__profile"></a>

  <div class="site-footer__contact">
    <p class="site-footer__title">{SITE_TITLE}</p>
    <p class="site-footer__info">
      <span>Author: {SITE_AUTHOR}</span>
      <span>{AUTHOR_ROLE}</span>
    </p>
  </div>

  <div class="site-footer__links">
    <p>
      <b>Linkfolio:</b>
      <b>
        <Icon name="external-link" size={16} /> <a href={LINKFOLIO_URL} target="_blank">
          {LINKFOLIO_URL.replace("https://", "")}
        </a>
      </b>
    </p>
  </div>
</footer>
