---
import { SITE_AUTHOR, AUTHOR_ROLE, LINKFOLIO_URL } from "../consts";
---

<div class="eof text-xs">--EOF--</div>

<footer class="footer">
  <a title="?" href="/extra">
    <div class="contact profile"></div>
  </a>
  <div class="contact">
    <p>
      {SITE_AUTHOR}
      <br />
      {AUTHOR_ROLE}
    </p>
  </div>
  <div class="contact">
    <p>
      <b>LinkFolio:</b>
      <br />
      🔗 <a href={LINKFOLIO_URL} target="_blank">{LINKFOLIO_URL}</a>
    </p>
  </div>
</footer>
