---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
---

<header>
  <nav class="header">
    <div>
      <h1 class="title"><a href="/">{SITE_TITLE}</a></h1>

      <HeaderLink class="extra" href="/">home</HeaderLink>

      <a class="extra" href="https://heristop.vercel.app" target="_blank"
        >about</a
      >
    </div>

    <div class="banner">
      <div class="img"></div>
    </div>
  </nav>
</header>
