---
import HeaderLink from "./HeaderLink.astro";
const { image = "/images/zazen.webp" } = Astro.props;
import { SITE_TITLE } from "../consts";

const title = `{ ${SITE_TITLE.replace(" ", "_")} }`;
---

<a href="#main-content" class="skip-link">Skip to main content</a>

<header class="site-header">
  <nav class="header" aria-label="Main navigation">
    <div class="menu">
      <h1 class="site-header__title title"><a href="/">{title}</a></h1>

      <HeaderLink class="extra" href="/blog">blog</HeaderLink>

      <HeaderLink class="extra" href="/projects">projects</HeaderLink>

      <HeaderLink class="extra" href="/about">about</HeaderLink>
    </div>

    <div class="banner site-header__banner">
      <div
        class="img site-header__banner-image"
        style={`background: transparent url(${image}) no-repeat center center / cover`}
      >
      </div>
    </div>
  </nav>
</header>
