---
import { getCollection } from "astro:content";

export async function getLatestPosts() {
    const posts = await getCollection("blog");
    return posts.slice(-3).reverse();
}

const latestPosts = await getLatestPosts();
---

<section class="my-4">
  <blockquote>
      <h2>You might be interested in</h2>

      <ul>
        {latestPosts.map((post) => (
          <li>
            <a href={`/blog/${post.slug}`}>{post.data.title}</a>
          </li>
        ))}
      </ul>
  </blockquote>
</section>
    
