---
import Icon from './Icon.astro';
import { getCollection } from 'astro:content';

const { currentPostSlug, conclusion } = Astro.props;

export const getRecommendedPosts = async (slug: string) => {
  const MAX_RECOMMENDED_POSTS = 3;
  const RECENT_POSTS_COUNT = -3;
  const posts = await getCollection('blog');
  const currentIndex = posts.findIndex(post => post.id === slug);

  const previousPost = currentIndex > 0 ? posts[currentIndex - 1] : undefined;
  const nextPost = currentIndex < posts.length - 1 ? posts[currentIndex + 1] : undefined;

  let recommendedPosts = posts.filter(post => post.id !== slug);
  recommendedPosts.sort((postA, postB) => {
    if (postA.data.pubDate && postB.data.pubDate) {
      return (
        new Date(postA.data.pubDate).getTime() - new Date(postB.data.pubDate).getTime()
      );
    }
      return 0;

  });
  recommendedPosts = recommendedPosts.slice(RECENT_POSTS_COUNT);

  if (previousPost) {
    recommendedPosts = [previousPost, ...recommendedPosts];
  }

  if (nextPost) {
    recommendedPosts = [nextPost, ...recommendedPosts];
  }

  // Remove duplicates and limit to MAX_RECOMMENDED_POSTS
  recommendedPosts = [...new Set(recommendedPosts)].slice(0, MAX_RECOMMENDED_POSTS);

  return recommendedPosts;
};

const recommendedPosts = await getRecommendedPosts(currentPostSlug);
---

<section class="recommended-posts">
  {
    conclusion && (
      <p class="recommended-posts__intro">
        <Icon name="feather" size={18} aria-hidden={true} />
        <b>{conclusion.replace(/^\W+\s*/, '')}</b>
      </p>
    )
  }

  <div class="recommended-posts__divider"></div>

  <h3 class="recommended-posts__heading">
    <Icon name="compass" size={18} aria-hidden={true} /> Explore More
  </h3>

  <ul>
    {
      recommendedPosts.map(post => (
        <li>
          <a href={`/blog/${post.id}`}>{post.data.title}</a>
        </li>
      ))
    }
  </ul>
</section>
