---
import { getCollection } from 'astro:content';
import Icon from './Icon.astro';

const { currentPostSlug, conclusion } = Astro.props;

export async function getRecommendedPosts(currentPostSlug: string) {
  const posts = await getCollection('blog');
  const currentIndex = posts.findIndex(post => post.slug === currentPostSlug);
  const previousPost = currentIndex > 0 ? posts[currentIndex - 1] : undefined;
  const nextPost =
    currentIndex < posts.length - 1 ? posts[currentIndex + 1] : undefined;

  let recommendedPosts = posts.filter(post => post.slug !== currentPostSlug);
  recommendedPosts.sort((a, b) => {
    if (a.data.pubDate && b.data.pubDate) {
      return (
        new Date(a.data.pubDate).getTime() - new Date(b.data.pubDate).getTime()
      );
    }
      return 0;
    
  });
  recommendedPosts = recommendedPosts.slice(-3);

  if (previousPost) {
    recommendedPosts = [previousPost, ...recommendedPosts];
  }

  if (nextPost) {
    recommendedPosts = [nextPost, ...recommendedPosts];
  }

  // Remove duplicates and limit to 5 posts
  recommendedPosts = [...new Set(recommendedPosts)].slice(0, 3);

  return recommendedPosts;
}

const recommendedPosts = await getRecommendedPosts(currentPostSlug);
---

<section class="recommended-posts">
  {
    conclusion && (
      <p class="recommended-posts__intro">
        <Icon name="feather" size={18} aria-hidden={true} />
        <b>{conclusion.replace(/^\W+\s*/, '')}</b>
      </p>
    )
  }

  <div class="recommended-posts__divider"></div>

  <h3 class="recommended-posts__heading">
    <Icon name="compass" size={18} aria-hidden={true} /> Explore More
  </h3>

  <ul>
    {
      recommendedPosts.map(post => (
        <li>
          <a href={`/blog/${post.slug}`}>{post.data.title}</a>
        </li>
      ))
    }
  </ul>
</section>
