<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{ page.title }}</title>
        <meta charset="utf-8">
        <meta name="author" content="{{ site.author }}">
        <meta name="title" content="{{ page.title }}" />
        <meta name="description" content="{{ site.description }}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        
        <!-- Open Graph / Facebook -->
        <meta property="og:type" content="website" />
        <meta property="og:title" content="{{ page.title }}" />
        <meta property="og:description" content="{{ site.description }}" />
        <meta property="og:image" content="/images/zazen.webp" />
        
        <!-- Twitter -->
        <meta property="twitter:card" content="summary_large_image" />
        <meta property="twitter:title" content={{ page.title }} />
        <meta property="twitter:description" content={{ site.description }} />
        <meta property="twitter:image" content="/images/zazen.webp" />
        
        <link rel="icon" href="/images/favicon.ico" type="image/x-icon" />
        <link rel="stylesheet" href="/css/syntax.css">
        <link rel="stylesheet" href="/css/style.css?{{ site.asset.version }}">
        <link rel="stylesheet" href="/css/ui.totop.css">
        
        <script src="/js/jquery-3.7.1.min.js"></script>
        <script src="/js/jquery.ui.totop.js"></script>
        <script src="/js/toc.js"></script>
        <script src="https://beamanalytics.b-cdn.net/beam.min.js" data-token="96d134f3-4fcc-41ea-a458-08b4a8debd78" async></script>
    </head>
    <body>
        <div class="site">
            
          <div class="header">
            <div>
              <h1 class="title"><a href="/">{{ site.name }}</a></h1>

              <a class="extra" href="/">home</a>
            </div>

            <div class="banner">
              <div class="img"></div>
            </div>
          </div>
          
          <div class="content">
            {{ content }}
          </div>
          
          <div class="eof">--EOF--</div>

          <div class="footer">
            <div class="contact profile"></div>
            <div class="contact">
              <p>
                Alexandre Mogère<br />
                Senior Tech Lead / PHP & JS
              </p>
            </div>
            <div class="contact">
              <p>
                <a href="https://github.com/{{ site.github }}" target="_blank">github.com/{{ site.github }}</a><br />
                <a href="https://twitter.com/{{ site.twitter }}" target="_blank">twitter.com/{{ site.twitter }}</a><br />
                <a href="https://www.linkedin.com/in/{{ site.linkedin }}" target="_blank">linkedin.com/in/{{ site.linkedin }}</a><br />
              </p>
            </div>
          </div>
        </div>
    </body>
</html>
