---
layout: default
---
<h1>{{ page.title }}</h1>
<p class="meta">{{ page.date | date_to_string }}</p>

<div class="post">
  {{ content }}
</div>

<div class="related-posts">
  <h3>Related meditations</h3>
  <p>
    <ul>
      {% for post in site.related_posts limit:5 %}
      <li><img src="/images/rightarrow.png" alt="" /> <a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></li>
      {% endfor %}
    </ul>
  </p>
</div>

<script type="text/javascript">
$(document).ready(function() {
  $(document.links).filter(function() {
    return this.hostname != window.location.hostname;
  }).attr('target', '_blank');

  $('#toc').toc({
    listType: 'ul',
    title: '<span>Meditate on</span>',
    showEffect: 'fadeIn',
    showSpeed: 0
  });
});
</script>
